{
  "extends": ["next", "airbnb"],
  "plugins": [
    "prefer-arrow"
  ],
  "rules": {
    "semi": [2, "always"],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-curly-newline": [
      "error",
      {
        "multiline": "consistent",
        "singleline": "consistent"
      }
    ],
    "quotes": [
      2,
      "single",
      { "avoidEscape": true, "allowTemplateLiterals": false }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-undef": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "react/prop-types": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "import/no-cycle": "off",
    "react/no-array-index-key": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "consistent-return": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "no-prototype-builtins": "off",
    "no-restricted-globals": "off",
    "no-console": "off",
    "prefer-template": "off",
    "arrow-body-style": "off",
    "indent": "off",
    "no-await-in-loop": "off",
    "prefer-arrow/prefer-arrow-functions": [
      "warn",
      {
        "disallowPrototype": true,
        "singleReturnOnly": true,
        "classPropertiesAllowed": false
      }
   ],
   "import/order": [
    "error",
    {
      "groups": ["builtin", "external", "internal", ["parent", "sibling"] ],
      "pathGroups": [
        {
          "pattern": "react",
          "group": "external",
          "position": "before"
        }
      ],
      "pathGroupsExcludedImportTypes": ["react"],
      "newlines-between": "always",
      "alphabetize": {
        "order": "asc",
        "caseInsensitive": true
      }
    }
  ]
  }
}
